# Note: this file is re-formatted by support-bundle-kit collector.
install:
  target: /dev/nvme0n1
  part-table: gpt
  partitions:
    oem:
      label: COS_OEM
      size: 50
      fs: ext4
    state:
      label: COS_STATE
      size: 15360
      fs: ext4
    recovery:
      label: COS_RECOVERY
      size: 8192
      fs: ext4
    persistent:
      label: COS_PERSISTENT
      size: 153600
      fs: ext4
  extra-partitions:
    - label: HARV_LH_DEFAULT
      fs: ext4
  cloud-init: /tmp/cos.2204118967
  tty: tty1
  system:
    size: 3072
