# Note: this file is re-formatted by support-bundle-kit collector.
schemeversion: 1
serverurl: https://10.115.252.20:443
token: '***'
sans: []
os:
  afterinstallchrootcommands:
    - grub2-editenv /oem/grubenv set extra_cmdline="ifname=netboot:5c:b9:01:88:d0:30"
  sshauthorizedkeys:
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC9pD7CoCAGUzFpb7IKx6o3/jM1i04zmVpAf3vrDXsqjwjmJOCxERM9nQDT3+xEXsuTlAe2Rw9XUvtXU2CgK7MXMnQehoLUiA+lIJG1kJqEgY+0ELV5l/6GFJvcuRaERNXpZbeVAnx082Av9GbcwK5na3UayT4BGprzHsoQfkDPizk+ndXPlCMLblfK8bzWsP0E0tITvtT3GFVaLqqSO/JpyApGBjURUXkfkUbcHUM4F4wYdHKA4osIU3sL05vIopifUYbGeY5C1JIQgKnmPkcZNjutmz+p/l1oWZttl7vN2PBb1VjVbFGMf3BOrPanEjUG2E/GipgcWG1kj6VEjk4WQzldQH9VBRyoIq9N8OXeF2AQaVkoTUO0TQMAOPD6kK27fjWXsfGMuB0QHxnNjTLwss03Z2UxwUFc2QRhYoYcT3pVOO2StaxllLonB4J1ijv8I2z0vQaBk9MYTzoXU9h9gGMAtqXV03ocdV2Znoj+256lNb/ggamwloeWs8uNq8s= sles@jenkins
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCXKno/jp0/RLeqwOud1j7antFVJYKNu5qTiIUkY8DPl4ZWZr4kvXt9osxymiCTNwd0zL38tnnsNMO2nqY+YaxXFsnHDkO/pG9T8QgORNy9dFqpbyilWJMZtcFS4n769PcnhuDaNu4U3wY8fG4SGX0OYOtfWHujPxGwQX2Lppgw8NIp02KnPh/kKbZHEo2Wgq8dTNFYlk7y7s8qgsZivcqN2a9pnXW8WLPyOI0/+v/lmDKXPmfZ2V92W/GZ/Cy+RWI/qqEgQArPcQiPO3+d82I0/JiQgp0F50XDKNNIanEjMHX3/81ChmpuSR7bknYjMassybV0rztpnKnT5JwdzoG3zx5Yu8BwPLV6oD7I2qvVuZjjdjA/tfQtAJpONPJLNPG20mzA1Llo2vAK5KyHdz4/RCZi3fTXpTj3SdCuAb4XxP//qLdDi25K9gVFsYYfclNGtLF9FpTHelWP4QJTFll4CC9gRWBlWZH50oPOcbwqUpHqNfZz8yEgad8vVBKWipk= root@jenkins
  writefiles:
    - encoding: ""
      content: |
        blacklist rds
        blacklist rds_tcp
        install rds /bin/fasle
        install rds_tcp /bin/false
      owner: root
      path: /etc/modprobe.d/10-pinifix.conf
      rawfilepermissions: ""
    - encoding: ""
      content: "apiVersion: node.harvesterhci.io/v1beta1\nkind: CloudInit\nmetadata:\n  name: ptrace-security-workaround\nspec:\n  matchSelector:\n    harvesterhci.io/managed: \"true\"\n  filename: 99-pinifix-security-mitigation\n  contents: |\n    stages:\n        initramfs:\n        - name: \"persistence mitigation for pinifix\"\n          files:\n            - path: \"/etc/modprobe.d/10-pinifix.conf\"\n              content: |\n                blacklist rds \n                blacklist rds_tcp\n                install rds /bin/false\n                install rds_tcp /bin/fasle\n"
      owner: root
      path: /var/lib/rancher/rke2/server/manifests/pinifix.yaml
      rawfilepermissions: ""
    - encoding: ""
      content: |
        kernel.yama.ptrace_scope = 2
      owner: root
      path: /etc/sysctl.d/10-ptrace-scope.conf
      rawfilepermissions: ""
    - encoding: ""
      content: |
        apiVersion: node.harvesterhci.io/v1beta1
        kind: CloudInit
        metadata:
          name: ptrace-security-workaround
        spec:
          matchSelector:
            harvesterhci.io/managed: "true"
          filename: 99-ptrace-security-workaround
          contents: |
            stages:
                initramfs:
                - name: "change systemctl kernel ptrace scope"
                  files:
                    - path: "/etc/sysctl.d/10-ptrace-scope.conf"
                      content: |
                        kernel.yama.ptrace_scope = 2
      owner: root
      path: /var/lib/rancher/rke2/server/manifests/ptracesecurity.yaml
      rawfilepermissions: ""
    - encoding: ""
      content: |
        blacklist esp4
        blacklist esp6
        blacklist rxrpc
        install esp4 /bin/false
        install esp6 /bin/false
        install rxrpc /bin/false
      owner: root
      path: /etc/modprobe.d/10-copyfail2-fix.conf
      rawfilepermissions: ""
    - encoding: ""
      content: |
        blacklist algif_aead
        install algif_aead /bin/false
      owner: root
      path: /etc/modprobe.d/10-cvs-fix.conf
      rawfilepermissions: ""
    - encoding: ""
      content: |
        apiVersion: node.harvesterhci.io/v1beta1
        kind: CloudInit
        metadata:
          name: copy-fail-workaround
        spec:
          matchSelector:
            harvesterhci.io/managed: "true"
          filename: 99-copy-fail-workaround
          contents: |
            stages:
                initramfs:
                - name: "Blacklist modules"
                  files:
                    - path: "/etc/modprobe.d/10-cvs-fix.conf"
                      content: |
                        blacklist algif_aead
                        install algif_aead /bin/false
      owner: root
      path: /var/lib/rancher/rke2/server/manifests/securitystuff.yaml
      rawfilepermissions: ""
    - encoding: ""
      content: |
        apiVersion: node.harvesterhci.io/v1beta1
        kind: CloudInit
        metadata:
          name: copy-fail2-workaround
        spec:
          matchSelector:
            harvesterhci.io/managed: "true"
          filename: 100-copy-fail2-workaround
          contents: |
            stages:
                initramfs:
                - name: "Blacklist modules new"
                  files:
                    - path: "/etc/modprobe.d/10-copyfail2-fix.conf"
                      content: |
                        blacklist esp4
                        blacklist esp6
                        blacklist rxrpc
                        install esp4 /bin/false
                        install esp6 /bin/false
                        install rxrpc /bin/false
      owner: root
      path: /var/lib/rancher/rke2/server/manifests/securitystuffnew.yaml
      rawfilepermissions: ""
  hostname: hp-69-tink-system
  modules:
    - kvm
    - vhost_net
    - rbd
    - nbd
  sysctls: {}
  ntpservers:
    - 0.suse.pool.ntp.org
    - 1.suse.pool.ntp.org
  dnsnameservers:
    - 10.115.252.1
  password: '***'
  environment: {}
  labels: {}
  sshd:
    sftp: false
    disablepasswordauth: false
  persistentstatepaths:
    - /var/lib/rook
    - /var/lib/ceph
    - /etc/ceph
    - /etc/webhook
  externalstorage:
    enabled: false
    multipathconfig: null
  additionalkernelarguments: ""
install:
  automatic: true
  skipchecks: true
  mode: join
  managementinterface:
    interfaces:
      - name: netboot
        hwaddr: 5c:b9:01:88:d0:30
    method: static
    ip: 10.115.252.96
    subnetmask: 255.255.254.0
    gateway: 10.115.253.254
    defaultroute: false
    bondoptions:
      miimon: "100"
      mode: balance-tlb
    mtu: 0
    vlanid: 2021
  vip: ""
  viphwaddr: ""
  vipmode: ""
  clusterdns: ""
  clusterpodcidr: ""
  clusterservicecidr: ""
  forceefi: false
  device: /dev/nvme0n1
  configurl: http://10.115.252.7:50061/2009-04-04/user-data
  silent: false
  isourl: http://10.115.1.6/iso/v1.8_giants/harvester-v1.8_giants-amd64.iso
  poweroff: false
  noformat: false
  debug: false
  tty: tty1
  forcegpt: true
  role: ""
  withnetimages: false
  wipealldisks: false
  wipediskslist:
    - /dev/nvme0n1
  forcembr: false
  datadisk: ""
  webhooks:
    - event: SUCCEEDED
      method: PUT
      headers: {}
      url: http://10.115.252.8:9090/disable/tink-system/hp-69
      payload: ""
      insecure: false
      basicauth:
        user: ""
        password: "***"
  addons: {}
  harvester:
    storageclass:
      replicacount: 0
    longhorn:
      defaultsettings:
        guaranteedenginemanagercpu: null
        guaranteedreplicamanagercpu: null
        guaranteedinstancemanagercpu: null
        storagereservedpercentagefordefaultdisk: 0
    enablegocoverdir: true
  rawdiskimagepath: ""
  persistentpartitionsize: ""
runtimeversion: v1.35.5+rke2r1
rancherversion: v2.14.2
harvesterchartversion: 0.0.0-v1.8-d46887de
monitoringchartversion: 108.0.2+up77.9.1-rancher.11
systemsettings:
  ntp-servers: '{"ntpServers":["0.suse.pool.ntp.org","1.suse.pool.ntp.org"]}'
loggingchartversion: 108.0.2+up4.10.0-rancher.18
kubeovnoperatorchartversion: 1.15.4
